html,body {
    margin: 0;
    height: 100%;
}

.content{
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px; 
}

.input-label {
    background-color: azure;
    margin-top: 19px;
    margin-bottom: 8px;
    /* 글자의 크기 */
    font-size: 14px;
    /* 글자의 굵기 */
    font-weight: 700;
}